@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("footer.css");


:root{
    --color-background: #EBECEE;

    --color-azul: #002F52;
    --color-azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --color-branco: #FFFFFF;
    --color-cinza: #474646;
    --color-cinza-claro: #858585;
    --color-laranja: #EB9800;
    --color-preto: #000000;
    
    --fonte-principal: "Poppins";
    --fonte-secundario: "Josefin Sans";
}

body {
    background-color: var(--color-background);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}